@font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel-Regular.ttf');
}


.main-bg {
	-fx-background-image: url('bg.jpg');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

.trans-bg {
	-fx-background-color: transparent;
	-fx-background-image: none;
}

.face-bg {
	-fx-background-image: url('dark-blue-bg.jpg');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

.button {
    -fx-background-color: rgba(0,0,0,0.3);
    -fx-border-color: #ffffff;
    -fx-text-fill: #ffffff;
    /*-fx-font-family: "Montserrat ExtraBold";*/
    -fx-font-family: "Times New Roman";
    -fx-font-size: 28px;
    -fx-font-weight: 800;
    -fx-border-insets: 5;
    -fx-width:100%;
}

.ice-button {
    -fx-background-image: url('button-bg.jpg');
    -fx-background-size: cover;
    -fx-border-color: black;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-border-insets: 0;
    -fx-border-width: 2px;
}


.h1 {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 48px;
    -fx-font-weight: 800;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-border-insets: 5;
    -fx-background-color: rgba(0,0,0,0.3);
    
}

.h2 {
	-fx-font-family: "Times New Roman";
	-fx-font-size: 28px;
    -fx-font-weight: 600;
    -fx-text-fill: #ffffff!important;
}

.h3 {
	-fx-font-family: "Times New Roman";
    -fx-font-size: 48px;
    -fx-font-weight: 800;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-border-insets: 5;
    -fx-background-color: rgba(255,255,0,0.3);
    
}

.label {
	-fx-font-family: "Times New Roman";
	-fx-text-fill: #ffffff!important;
	-fx-font-size: 18px;
}

.split-pane:vertical>*.split-pane-divider {
	-fx-background-image: url('button-bg.jpg');
	-fx-opacity: 0.3;
	-fx-height: 2px;

}

.characterName {
    -fx-font-family: "Cinzel";
    -fx-font-size: 30px;
}

.list-view {
    -fx-font-family: "Cinzel";
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    
}
.relationship{
    -fx-font-family: "Cinzel";
    -fx-text-fill: #ffffff;
    -fx-font-size: 29px;
}

.muteButton {
    -fx-border-width: 0;
    -fx-background-image: url('volume-high.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
